################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskErrors/obj
/TaskErrors/bin
/TaskErrors/.vs/TaskErrors
/TaskErrors/.vs/ProjectEvaluation
/JsonSearchPatterns/obj
/JsonSearchPatterns/bin
/JsonSearchPatterns/.vs
/PublicIP/.vs/PublicIP
/PublicIP/bin
/PublicIP/obj
/Middleware/.vs/Middleware
/PublicIP/.vs/ProjectEvaluation
/Middleware/.vs/ProjectEvaluation
/FourKWinForm/.vs/FourKWinForm
/FourKWinForm/bin
/FourKWinForm/obj
/Middleware/Dotnet6/.vs
/FourKWinForm/.vs/ProjectEvaluation
