################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskErrors/obj
/TaskErrors/bin
/TaskErrors/.vs/TaskErrors
/TaskErrors/.vs/ProjectEvaluation
/JsonSearchPatterns/obj
/JsonSearchPatterns/bin
/JsonSearchPatterns/.vs
/PublicIP/.vs/PublicIP
/PublicIP/bin
/PublicIP/obj
/Middleware/.vs/Middleware
/PublicIP/.vs/ProjectEvaluation
/Middleware/.vs/ProjectEvaluation
/FourKWinForm/.vs/FourKWinForm
/FourKWinForm/bin
/FourKWinForm/obj
/Middleware/Dotnet6/.vs
/FourKWinForm/.vs/ProjectEvaluation
/Fake/.vs/Fake
/Fake/Fake.Test/bin
/Fake/Fake.Test/obj
/Fake/Fake.Data/bin
/Fake/Fake.Data/obj
/SpectreDemo/obj
/SpectreDemo/bin
/SpectreDemo/.vs/SpectreDemo
/SpectreDemo/.vs/ProjectEvaluation
/UnsafeAs/.vs
/UnsafeAs/bin
/UnsafeAs/obj
/Simple_ChatCompletion/.vs/Simple_ChatCompletion
/Simple_ChatCompletion/bin
/Simple_ChatCompletion/obj
/Simple_ChatCompletion/.vs/ProjectEvaluation
/Mediat/.vs/Mediat
/Mediat/Mediat.Business/bin/x64
/Mediat/Mediat.Business/obj
/Mediat/Mediat.Data/bin/x64
/Mediat/Mediat.Data/obj
/Mediat/Mediat.Infrastructure/bin/x64
/Mediat/Mediat.Infrastructure/obj
/Mediat/Mediat.Model/bin/x64
/Mediat/Mediat.Model/obj
/Mediat/.vs/ProjectEvaluation
/SemaphoreSlim/.vs
/SemaphoreSlim/bin/Debug/net8.0
/SemaphoreSlim/obj
/PythonBridge/.vs/PythonBridge
/PythonBridge/obj/Debug/net8.0
/PythonBridge/bin/Debug/net8.0
/PythonBridge/obj
/LogFunction/LogFunction.Benchmark/bin
/LogFunction/LogFunction.Benchmark/obj
/LogFunction/.vs/LogFunction
/LogFunction/LogFunction.Logger/bin
/LogFunction/LogFunction.Logger/obj
/LogFunction/Logger/obj
/LogFunction/.vs/ProjectEvaluation
/SQLWrites/.vs
/SQLWrites/Common/bin/Debug/net10.0
/SQLWrites/Common/obj
/SQLWrites/UseBulk/bin/Debug/net10.0
/SQLWrites/UseBulk/obj
/SQLWrites/UseNormal/bin/Debug/net10.0
/SQLWrites/UseNormal/obj
/Spectrum/.vs/Spectrum
/Spectrum/Spectrum/.vs
/Spectrum/Spectrum/bin
/Spectrum/Spectrum/obj
/Spectrum/packages/System.Configuration.ConfigurationManager.10.0.1
